*{
    margin: 0;
    padding: 0;
}

img{
    position: absolute;
    top: 0%;
    z-index: -1;
}

.navbar{
    margin-left: 10rem;
    background-color: rgb(161, 22, 22);
}

.button{
    position: absolute;
    bottom: 0px;
}

#formulario{
    position: absolute;
    margin-top: 85rem;
    margin-left: 25rem;
}
